---
import { getCollection } from "astro:content";
import Card from "../../components/card.astro";
import Layout from "../../components/Layout.astro";
import PagesLayout from "../../components/PagesLayout.astro";
import Section from "../../components/Section.astro";

const allPosts = (await getCollection("blog")).sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<Layout title="Blog posts | andri.dk">
	<PagesLayout>
		<Section title="Blog posts">
			<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
				{
					allPosts.map((post) => (
						<Card
							title={post.data.title}
							link={post.slug}
							description={
								post.data.description ||
								"TODO: Fix description defaults"
							}
							tags={post.data.tags}
							date={post.data.date}
							draft={
								process.env.NODE_ENV !== "production" &&
								post.data.draft
							}
						/>
					))
				}
			</div>
		</Section>
	</PagesLayout>
</Layout>
