---
import Card from "../../components/card.astro";
import Layout from "@layouts/Layout.astro";
import Section from "../../components/Section.astro";
import { getPosts } from "../../lib/cms";
import PageContainer from "@layouts/page-container.astro";

const allPosts = await getPosts({});
---

<Layout title="Blog posts | andri.dk">
  <PageContainer>
    <Section title="Blog posts" class="bg-gray-200 text-black">
      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        {
          allPosts.map((post) => (
            <Card
              title={post.title}
              link={post.slug}
              description={post.description || "TODO: Fix description defaults"}
              tags={post.tags}
              date={post.date}
              draft={post.status === "draft"}
            />
          ))
        }
      </div>
    </Section>
  </PageContainer>
</Layout>
