---
import Layout from "~/layouts/Layout.astro";
import PageContainer from "~/layouts/page-container.astro";
import { actions } from "astro:actions";
import { isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.contactMe);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<Layout title="Contact me">
  <PageContainer>
    <form method="post" action={actions.contactMe}>
      <input
        class="block rounded-md border py-1 px-2"
        name="email"
        type="email"
        aria-describedby="error"
      />
      {inputErrors.email && <p id="error">{inputErrors.email.join(",")}</p>}
      <button type="submit">Wat</button>
    </form>
  </PageContainer>
</Layout>titletiContacttme
