---
import { actions } from "astro:actions";
import { COUNTRIES } from "~/actions/hello/country-list";
import Layout from "~/layouts/Layout.astro";
import PageContainer from "~/layouts/page-container.astro";
const prerender = false;

const { data } = await Astro.callAction(actions.hello.getCountry, {});
const defaultCountry = data ?? undefined;
---

<Layout title="Insult my country">
  <PageContainer>
    <div
      class="p-8 bg-white rounded-md md:min-w-[40rem] self-center text-gray-900"
    >
      <h1>Insult my country</h1>
      <p>This is a silly parody experiment. Don't take it seriously.</p>
      <div class="mt-4">
        <select
          id="country"
          class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-andri focus:border-andri"
        >
          <option aria-placeholder="No country detected, select your own"
          ></option>
          {
            COUNTRIES.map((country) => (
              <option
                selected={
                  country.toLowerCase() === defaultCountry?.toLowerCase()
                    ? true
                    : false
                }
                value={country}
              >
                {country}
              </option>
            ))
          }
        </select>
        <div class="mt-4">
          <button
            class="rounded-full bg-andri py-1 px-4 font-medium text-white disabled:bg-gray-100 disabled:text-gray-300"
            >Bring it!</button
          >
        </div>
      </div>
      <div
        id="results"
        class="max-w-xl hidden mt-6 rounded-md p-4 border border-andri"
      >
      </div>
    </div>
  </PageContainer>
</Layout>title

<script>
  import { actions } from "astro:actions";
  import { COUNTRIES } from "~/actions/hello/country-list";

  const button = document.querySelector("button");
  const results = document.querySelector("#results");
  const countryEl = document.querySelector("#country") as HTMLSelectElement;

  button?.addEventListener("click", async () => {
    if (!button || !results) return; // No reason to continue
    const country = countryEl
      ? (countryEl.value as (typeof COUNTRIES)[number])
      : undefined;

    button.setAttribute("disabled", "disabled");
    results.classList.add("hidden");
    // Show alert pop-up with greeting from action
    const { data, error } = await actions.hello.getGreeting({
      country,
    });
    button.removeAttribute("disabled");

    if (error || data === undefined) {
      results.innerHTML = "💩";
      results.classList.remove("hidden");
      return;
    }
    results.innerHTML = data;
    results.classList.remove("hidden");
  });
</script>
