---
import { type CollectionEntry } from "astro:content";
import { readItems } from "@directus/sdk";
import { getDirectusClient } from "../../lib/cms/cms";
import { getPosts } from "../../lib/cms";
const posts = await getPosts();
console.log("posts", posts);
---

<section>
	<h3>Testing Directus</h3>
	{
		posts.map((post) => (
			<h4>
				<a href={`./${post.slug}/`}>{post.title}</a>
			</h4>
		))
	}
</section>
