---
import { readItems } from "@directus/sdk";
import { getDirectusClient } from "../../lib/cms/cms";

const client = getDirectusClient();
const posts = (await client.request(readItems("blog")));

---

<section>
	<h3>Testing Directus</h3>
	{
		posts.map((post) => (
			<h4>
				<a href={`./${post.slug}/`}>{post.title}</a>
			</h4>
		))
	}
</section>
