---
import "./weird.css";
---

<body>
	<div>
		<div
			class="flex flex-col font-sans md:min-h-one-third-screen text-white bg-blue-900 animated-background"
			style={{
				//background: `url(${waveBG}) no-repeat`,
				backgroundSize: "cover",
			}}
		>
			<slot />
		</div>
	</div>
</body>
