---
import { Image } from "astro:assets";
import andratar from "../../static/img/coffee-art.jpg";
import NavItem from "./NavItem.astro";
import NavItems from "./nav-items.astro";

type Props = {
	isHome: boolean;
};

const { isHome } = Astro.props;
---

<nav
	class="flex items-center justify-between flex-wrap bg-gradient-to-b from-andri to-black p-6 w-full gap-4"
>
	<a href="/" class="">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<Image
				alt="avatar"
				src={andratar}
				class="rounded-full shadow-2xl w-8 h-8 mr-4 inline-block"
			/>
			<span class="font-semibold text-xl tracking-tight inline-block">
				Andri
			</span>
		</div>
	</a>

	<ul class="flex space-x-y topmenu gap-2">
		<NavItems isHome={isHome} />
	</ul>
</nav>
