---
import { getCollection } from "astro:content";
import ProjectCard from "~/components/project-card.astro";
import Layout from "~/layouts/Layout.astro";
import PageContainer from "~/layouts/page-container.astro";
const allProjects = await getCollection("project");
---

<Layout title="Projects">
	<PageContainer>
		<section class="grid gap-6 md:px-6 pt-4 md:grid-cols-2">
			{allProjects.map((project) => <ProjectCard project={project} />)}
		</section>
	</PageContainer>
</Layout>
