@tailwind base;

@tailwind components;

.tag {
	@apply inline-block bg-gray-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-100 mr-2 mb-2 shadow-md lowercase;
}

a.link {
	@apply text-indigo-900;
	&:hover {
		@apply underline;
	}
}

.btn {
	@apply bg-blue-500 text-white font-semibold py-2 px-4 rounded;
}

.btn:hover {
	@apply bg-blue-700;
}

.markdown {
	@apply text-lg text-gray-900 leading-normal;

	& li > p + p {
		@apply mt-2;
	}
	& p {
		@apply mb-4;
	}
	& strong {
		@apply text-gray-900 font-bold;
	}
	& a {
		@apply text-blue-800 font-semibold;
	}
	& strong a {
		@apply font-bold;
	}
	& h1 {
		@apply leading-tight text-2xl font-semibold text-gray-900 mb-2 mt-10;
	}
	& h2 {
		@apply leading-tight text-xl font-semibold text-gray-900 mb-2 mt-10;
	}
	& h3 {
		@apply leading-tight text-lg font-semibold text-gray-900 mt-8 mb-2;
	}
	/* & code {
		@apply font-mono text-sm inline bg-gray-400 px-1;
	}
	& pre code {
		@apply block bg-black p-4 rounded;
	}
	 */
	& .vscode-highlight {
		@apply rounded-none;
	}

	& .gatsby-resp-image-wrapper {
		@apply max-w-none mr-0 ml-0;
	}

	& code,
	pre {
		@apply font-mono whitespace-pre;
	}
	& blockquote {
		@apply border-l-8 border-gray-700 mx-2 my-4 px-4 py-4;
	}
	& ol {
		@apply list-decimal pl-5 mb-4;
	}
	& ul {
		@apply list-disc list-inside mb-4;
	}
}

@tailwind utilities;
