@tailwind base;

@tailwind components;

.btn {
	@apply bg-blue-500 text-white font-semibold py-2 px-4 rounded;
}

.btn:hover {
	@apply bg-blue-700;
}

.markdown ul {
	@apply list-disc;
}
.markdown li {
	@apply mb-2;
}

.markdown p {
	@apply mb-2;
}

/* .markdown code {
	@apply block p-4 bg-blue-900 text-gray-100 my-4 font-mono;
} */

.markdown h1,
h2,
h3,
h4,
h5 {
	@apply mb-4;
}

@tailwind utilities;
