---
// Find all blog posts to generate
import type { CommonBlog } from "src/lib/cms";
import Layout from "./Layout.astro";
import PagesLayout from "./PagesLayout.astro";
import PageContainer from "./page-container.astro";

type Props = {
	frontmatter: CommonBlog;
};

const { frontmatter: post } = Astro.props;
if (post.title === undefined)
	throw new Error("Frontmatter page title missing. E.g. 'title: Moo'");
---

<Layout
	title={post.title}
	description={post.description}
	subtitle={post.description}
	blogPost={post}
>
	<PageContainer>
		<div
			class="pt-4 bg-gray-200 py-2 md:py-10 md:px-10 md:flex justify-center md:flex-grow"
		>
			<div
				class="bg-white py-10 shadow px-5 lg:px-10 flex-1 lg:max-w-6xl"
			>
				<article
					class="mb-6 prose prose-sm md:prose-base prose-li:m-0 prose-headings:mb-1 prose-headings:m-0"
				>
					<slot />
				</article>

				<p>&nbsp;</p>
			</div>
		</div>
	</PageContainer>
</Layout>
